*.fdb_latexmk
*.nlo
*.fls
*.gz
*.aux 
*.toc
*.log
*.nav
*.vrb
*.snm
*.tuc
# (La)TeX:
# Lists:
*.lof
*.lot
# Index:
*.idx
*.ind
*.ilg
# Glossary:
*.glo
*.gls
*.glg
# Bib(La)TeX/Biber:
*.bbl
*.blg
*.bcf
*.run.xml
*-blx.bib
# hyperref:
*.out